<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/carlist.modules.css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1><%= title %></h1>
            <ul>
                <% car_list.forEach(function(car) { %>
                <li>
                    <img
                        src="<%= car.imgUrl %>"
                        alt="<%= car.name %>"
                        class="car-image"
                    />
                    <div class="car-details">
                        <h2><%= car.name %></h2>
                        <div class="car-info">
                            <p>Make: <%= car.make.name%></p>
                            <p>Year: <%= car.year %></p>
                            <p>Mileage: <%= car.mileage %></p>
                            <p>Fuel Type: <%= car.fuelType %></p>
                        </div>
                        <div class="buttons">
                            <a href="/update/<%= car._id %>" class="btn update"
                                >Update</a
                            >
                            <a
                                href="/inventory/cars/<%= car._id %>/delete"
                                class="btn delete"
                                >Delete</a
                            >
                            <a
                                href="/inventory/cars/<%= car._id %>"
                                class="btn detail"
                                >Details</a
                            >
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <a href="/inventory/cars/create" class="btn add">Add New Car</a>
        </div>
    </body>
</html>
